<div class="container col-sm-6">
    <form action="/email" method="post">
        <h2 class=" text-primary">Your Email : </h2>
        <div class="form-group">
            <label class=" text-success" for="">Your Name</label>
            <input type="text" name="name" id="" class="form-control" placeholder="Your Name" aria-describedby="helpId">
        </div>
        <div class="form-group">
            <label class=" text-success" for="">Your Address</label>
            <input type="email" name="email" id="" class="form-control" placeholder="Your Email Address" aria-describedby="helpId">
        </div>
        
        <button class="btn btn-dark" > Submit </button>
    </form>


    
</div>