<div class="container">
    <form action="/post-request" method="POST">
        <div class="form-group row">
            <label for="inputName" class="col-sm-1-12 col-form-label">ID for post Request : </label>
            <div class="col-sm-1-12">
                <input type="text" class="form-control" name="id" id="inputName" placeholder="">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Action</button>

    </form>
</div>